body {
  background-color: rgb(242, 240, 228);
}

.box {
  /*background-color: rgb(166,187,196);*/
  background-color: rgb(193,206,207);
  height: 358px;
  width: 250px;
  border-radius: 20px;
  position: relative;
  top: 80px;
  left: 40%;
  box-shadow: 12px 12px lightGray;
}

.title {
  font-family: 'Menlo', sans-serif;
  font-weight: bolder;
  font-size: .5em;
  color: rgb(242,240,228);
  /*color: #6f6f6f;*/
  letter-spacing: .2em;
  text-transform: uppercase;
  padding-top: 17px;
}

.display {
  width: 220px;
  position: relative;
  left: 15px;
  top: 20px;
  height: 40px;
}

.display input {
  position: relative;
  left: 0;
  top: -1px;
  height: 35px;
  color: black;
  background-color: #bccd95;
  font-size: 21px;
  text-align: right;
}

.App-button {
  position: relative;
  top: 30px;
  right: 6px;
}

.button {
  font-family: 'Menlo', monospace;
  width: 40px;
  height: 30px;
  border: none;
  border-radius: 50px;
  margin-left: 17px;
  cursor: pointer;
  border-top: 2px solid transparent;
  outline: none;
}

.button.gray {
  color: white;
  background-color: #6f6f6f;
  border-bottom: black 2px solid;
  border-top: 2px #6f6f6f solid;
}

.button.pink {
  color: black;
  background-color: rgb(245,98,82);
  border-bottom: black 2px solid;
}

.button.black {
  color: white;
  background-color: 303030;
  border-bottom: black 2px solid;
  border-top: 2px 303030 solid;
}

.button.orange {
  color: black;
  background-color: #FF9933;
  border-bottom: black 2px solid;
  border-top: 2px #FF9933 solid;
}

.gray:active {
  border-top: black 2px solid;
  border-bottom: 2px #6f6f6f solid;
}

.pink:active {
  border-top: black 2px solid;
  border-bottom: #ff4561 2px solid;
}

.black:active {
  border-top: black 2px solid;
  border-bottom: #303030 2px solid;
}

.orange:active {
  border-top: black 2px solid;
  border-bottom: #FF9933 2px solid;
}

p {
  line-height: 10px;
}

.buttonRow{
  padding-right: 15px;
}

h1 {
  font-size: 3em;
  font-family: "Avenir", "Menlo", cursive;
  text-shadow: 4px 4px lightGray;
  color: tomato;
  letter-spacing: .1em;
  text-transform: uppercase;
}
